# GEOG696C Spatiotemporal Data Analytics: Term Project
## extractPixelFIATimeSeries.ipynb
This script extracts time series of fractional inundated area (FIA) per pixel from the Giezendanner et al. (2023) dataset of historical flooding. I create time series of weekly FIA for each 500 m pixel, before aggregating to monthly, seasonal and annual time steps.

In [1]:
from pathlib import Path
import os
import sys
import pandas as pd
# import geopandas as gpd
import numpy as np
import rasterio as rio
from rasterio.plot import show
from rasterio.mask import mask
# import rioxarray
# import xarray
# from shapely.geometry import Polygon
# from shapely.geometry import Point
# import matplotlib.pyplot as plt
# from itertools import chain
from datetime import datetime, timezone

In [22]:
# Set the root path
# rootPath = Path('/media/mule/Projects/NASA/NIP/Data')
rootPath = Path('C:/Users/alexsaunders/Documents/01_uoa/01_study/2023/geog696c/project/data')

## 1) Get the rasters with the FIA data

In [80]:
# dataPath = rootPath/'Models/DeepLearning/Inference/CrossValidation/Archive/Historical/Ensemble'
dataPath = Path('C:/Users/alexsaunders/Documents/01_uoa/02_ra/01_projects/01_nip/02_hysteresis/inTmp') # local copy
dataFiles = [file for file in list(dataPath.iterdir()) if file.suffix=='.tiff']

In [81]:
print(len(dataFiles))

985

In [87]:
dataFiles.sort()

## 2) Get the dimensions of the problem

In [82]:
# Open a single raster and get the spatial dimensions
file = dataFiles[0]
raster = rio.open(file)
rasterData = raster.read(1)
print(rasterData.shape, rasterData.shape[0]*rasterData.shape[1])

(1346, 1040) 1399840

In [83]:
# Save the dimensions we want
nrows = rasterData.shape[0]
ncols = rasterData.shape[1]
ntime = len(dataFiles)

## 3) Get the raster pixel data for all dates to create time series for each pixel

In [85]:
# Get the dates of all the raster files
imageDates=[]
# Loop through the tif files
for f, file in enumerate(dataFiles):
    # Get the data of the image
    imageDate = datetime.fromtimestamp(int(file.stem[:-3])).strftime('%Y%m%d')
    imageDates.append(imageDate)

In [37]:
# Create empty array for storing the values
rasterDataAllDates = np.zeros([nrows, ncols, ntime])

In [38]:
# Loop through files and for each one, record the pixel value into an array with values for the same pixel from all other dates
# Loop through the tif files
for f, file in enumerate(dataFiles):
    # Open and get raster values
    with rio.open(file) as raster:
        # Assign raster values to array
        rasterDataAllDates[:,:,f]=raster.read(1)

In [44]:
# Reduce the dimensions to 2D i.e. location and time
rasterData2D = rasterDataAllDates.reshape([nrows*ncols, ntime])
print(rasterData2D.shape)

(1399840, 985)

In [45]:
# Create folder for saving pixel FIA outputs
outPath=rootPath/'pixelFIA'
outPath.mkdir(exist_ok=True)

In [47]:
# Write out to a csv file
rasterData2D.tofile(outPath/'pixelFIAAllDates.txt', sep = '|')

In [174]:
# Replace nodata value of -9999 with np.nan to see if it reduces size
rasterData2Dnan = rasterData2D.copy()
rasterData2Dnan[rasterData2Dnan == -9999] = np.nan

In [50]:
rasterData2Dnan.tofile(outPath/'pixelFIAAllDatesNan.txt', sep = '|')

### Export as multiple blocks to csv
Note: file format is rows = locations, columns = timestamps with dates given by imageDates

In [206]:
# Convert the array to dataframe for exporting as csv
rasterDataDF = pd.DataFrame(rasterData2Dnan)

In [207]:
# Create folder for saving pixel FIA outputs
outPath=rootPath/'pixelFIA/raw'
outPath.mkdir(exist_ok=True)

In [209]:
rasterDataDF

,0,1,2,3,4,5,6,7,8,9,...,975,976,977,978,979,980,981,982,983,984
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1399835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1399836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1399837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1399838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1399839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Export in csvs of 100,000 rows at a time
blockSize = 100000

# Calculate the number of blocks
nBlocks = (len(rasterDataDF) + blockSize - 1) // blockSize

for b, start in enumerate(range(0, len(rasterDataDF), blockSize)):
    end = start + blockSize
    if end > len(rasterDataDF):
        end = len(rasterDataDF)
    print(start, end)
    block = rasterDataDF.iloc[start:end]
    block.to_csv(outPath/(str(b)+'.csv'), index=True)

0 100000
100000 200000

## 4) Extract pixel FIA by aggregation time unit - month, season, year

In [106]:
# Prep a dataframe of dates and flags for aggregating by time unit
datesDF = pd.DataFrame(data=[imageDates], index=['date']).T 
datesDF['datetime'] = pd.to_datetime(datesDF.date)
datesDF['year']=[item.year for item in datesDF.datetime]
datesDF['month']=[item.month for item in datesDF.datetime]
datesDF['yearID']=datesDF.year - datesDF.year.min()
datesDF['monthID']=datesDF.yearID*12 +  datesDF.month

months=[5,6,7,8,9,10]
datesDF.loc[datesDF.month.isin(months),'monsoon']=1
datesDF['monsoonID']=datesDF.yearID*datesDF.monsoon

In [110]:
# Use idx to map back to time dimension of the array containing the pixel FIA values
datesDF['idx']=datesDF.index+1

In [111]:
datesDF

,date,datetime,year,month,yearID,monthID,monsoon,monsoonID,idx
0,20010909,2001-09-09,2001,9,0,9,1.0,0.0,1
1,20010917,2001-09-17,2001,9,0,9,1.0,0.0,2
2,20010925,2001-09-25,2001,9,0,9,1.0,0.0,3
3,20011003,2001-10-03,2001,10,0,10,1.0,0.0,4
4,20011011,2001-10-11,2001,10,0,10,1.0,0.0,5
...,...,...,...,...,...,...,...,...,...
980,20010731,2001-07-31,2001,7,0,7,1.0,0.0,981
981,20010808,2001-08-08,2001,8,0,8,1.0,0.0,982
982,20010816,2001-08-16,2001,8,0,8,1.0,0.0,983
983,20010824,2001-08-24,2001,8,0,8,1.0,0.0,984
984,20010901,2001-09-01,2001,9,0,9,1.0,0.0,985

In [216]:
# Write out to csv for record keeping
outPath=rootPath/'pixelFIA/dates'
outPath.mkdir(exist_ok=True)
datesDF.to_csv(outPath/'datesMapping.csv', index=True)

### Aggregate by year

In [ ]:
# Aggregate by year - take the maximum, mean and median
years = np.unique(datesDF.year)
nyears = len(years)
avgs = ['max','mean','median', '95pct']
q=0.95
navgs = len(avgs)
rasterDataAvgAllDates=np.zeros([nyears, navgs, nrows*ncols])

for y, year in enumerate(years):
    print(year)
    
    # Get the indexes for the given filter
    idxs = list(datesDF[datesDF.year==year].index)
    
    # Get the rasterData for those timesteps which are in the filter
    rasterDataIdxs = rasterData2Dnan[:,idxs]
    
    # Get the average metrics from the selected timesteps
    rasterDataAvg = np.array([np.nanmax(rasterDataIdxs, axis=1), np.nanmean(rasterDataIdxs, axis=1), np.nanmedian(rasterDataIdxs, axis=1), np.nanquantile(rasterDataIdxs, q, axis=1)])
    
    rasterDataAvgAllDates[y,:,:] =  rasterDataAvg

2001

C:\Users\alexsaunders\AppData\Local\Temp\ipykernel_2192\1276859065.py:19: RuntimeWarning: All-NaN slice encountered
  rasterDataAvg = np.array([np.nanmax(rasterDataIdxs, axis=1), np.nanmean(rasterDataIdxs, axis=1), np.nanmedian(rasterDataIdxs, axis=1), np.nanquantile(rasterDataIdxs, q, axis=1)])
C:\Users\alexsaunders\AppData\Local\Temp\ipykernel_2192\1276859065.py:19: RuntimeWarning: Mean of empty slice
  rasterDataAvg = np.array([np.nanmax(rasterDataIdxs, axis=1), np.nanmean(rasterDataIdxs, axis=1), np.nanmedian(rasterDataIdxs, axis=1), np.nanquantile(rasterDataIdxs, q, axis=1)])
C:\Users\alexsaunders\Anaconda3\envs\geo_rioxarray38_\lib\site-packages\numpy\lib\nanfunctions.py:1217: RuntimeWarning: All-NaN slice encountered
  r, k = function_base._ureduce(a, func=_nanmedian, axis=axis, out=out,
C:\Users\alexsaunders\Anaconda3\envs\geo_rioxarray38_\lib\site-packages\numpy\lib\nanfunctions.py:1583: RuntimeWarning: All-NaN slice encountered
  result = np.apply_along_axis(_nanquantile_1d, axis, a, q,

2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019

In [ ]:
# Convert to dataframe for writing out as csv
outPath=rootPath/'pixelFIA/annual'
outPath.mkdir(exist_ok=True)

In [ ]:
# Loop through max, mean, median, 95pct and for each , write out all years to a csv - 
for i in range(navgs):
    rasterDataAvgDF = rasterDataAvgAllDates[:,i,:]
    outName=avgs[i]+'.csv'
    rasterDataAvgDF.to_csv(outPath/outName,index=True)

### Aggregate by season, monsoon months

In [226]:
# Aggregate by year - take the maximum, mean and median
years = np.unique(datesDF.year)
nyears = len(years)
avgs = ['max','mean','median', '95pct']
q=0.95
navgs = len(avgs)
rasterDataAvgAllDates=np.zeros([nyears, navgs, nrows*ncols])

for y, year in enumerate(years):
    print(year, end='\r')
    
    # Get the indexes for the given filter
    idxs = list(datesDF[(datesDF.year==year) & (datesDF.monsoon==1)].index)
    
    # Get the rasterData for those timesteps which are in the filter
    rasterDataIdxs = rasterData2Dnan[:,idxs]
    
    # Get the average metrics from the selected timesteps
    rasterDataAvg = np.array([np.nanmax(rasterDataIdxs, axis=1), np.nanmean(rasterDataIdxs, axis=1), np.nanmedian(rasterDataIdxs, axis=1), np.nanquantile(rasterDataIdxs, q, axis=1)])
    
    rasterDataAvgAllDates[y,:,:] =  rasterDataAvg

C:\Users\alexsaunders\AppData\Local\Temp\ipykernel_2192\1086616126.py:19: RuntimeWarning: All-NaN slice encountered
  rasterDataAvg = np.array([np.nanmax(rasterDataIdxs, axis=1), np.nanmean(rasterDataIdxs, axis=1), np.nanmedian(rasterDataIdxs, axis=1), np.nanquantile(rasterDataIdxs, q, axis=1)])
C:\Users\alexsaunders\AppData\Local\Temp\ipykernel_2192\1086616126.py:19: RuntimeWarning: Mean of empty slice
  rasterDataAvg = np.array([np.nanmax(rasterDataIdxs, axis=1), np.nanmean(rasterDataIdxs, axis=1), np.nanmedian(rasterDataIdxs, axis=1), np.nanquantile(rasterDataIdxs, q, axis=1)])

In [227]:
# Convert to dataframe for writing out as csv
outPath=rootPath/'pixelFIA/monsoon'
outPath.mkdir(exist_ok=True)

In [229]:
# Loop through max, mean, median, 95pct and for each , write out all years to a csv - format is cols = pixels locations, rows = years (in order from 2001-2022 inclusive)
for i in range(navgs):
    rasterDataAvgDF = pd.DataFrame(rasterDataAvgAllDates[:,i,:])
    outName=avgs[i]+'.csv'
    rasterDataAvgDF.to_csv(outPath/outName,index=True)

In [240]:
# test = pd.read_csv(outPath/outName, index_col=0)